@import url("data-tables.css");
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dt-container .dt-length-select {
        margin-right: 0.5em;
    }
    .dt-container .dt-search {
        margin-left: 0.5em;
    }

    #dt-length-0 {
        @apply select select-sm select-bordered h-auto;
    }
    #dt-search-0 {
        @apply input input-sm input-bordered ml-2;
    }

    .btn-ghost-danger {
        @apply btn-ghost !bg-transparent !border-none !shadow-none hover:!bg-error;
    }
}

div.dt-container div.dt-layout-row.dt-layout-table {
    @apply flex;
}
.dt-layout-cell {
    @apply flex-1;
}
.dt-layout-row:not(.dt-layout-table) {
    @apply flex justify-between items-center w-full first:mb-4 last:mt-4;
}
button.dt-paging-button {
    @apply btn btn-sm border-none inline-block ml-1;
}
button.dt-paging-button.first {
    @apply btn-ghost aria-disabled:btn-disabled aria-disabled:cursor-not-allowed aria-disabled:text-neutral-400;
}
button.dt-paging-button.last {
    @apply btn-ghost aria-disabled:btn-disabled aria-disabled:cursor-not-allowed aria-disabled:text-neutral-400;
}
button.dt-paging-button.previous {
    @apply btn-ghost aria-disabled:btn-disabled aria-disabled:cursor-not-allowed aria-disabled:text-neutral-400;
}
button.dt-paging-button.next {
    @apply btn-ghost aria-disabled:btn-disabled aria-disabled:cursor-not-allowed aria-disabled:text-neutral-400;
}
button.dt-paging-button.current {
    @apply btn-primary;
}
.dt-orderable-asc.dt-orderable-desc {
    @apply table-cell border-none btn btn-sm btn-ghost text-base-content;
}
tr[role="row"] {
    @apply border-b-2 border-base-300;
}
.dt-orderable-none {
    @apply !border-none;
}
.alert-error {
    color: red;
    border: 1px solid red;
    background-color: #fdd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
